.section{
  padding: 160px 0; //top 153 bot 160
}

.about-me__heading{
  text-align: center;
  margin: 0;
  color: #212529;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
}

.about-me__image img{
  max-width: 340px; //339
}

.about-me__subheading{
  color: #212529;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.about-me__text{
  color: #4c4b4b;
  font-weight: 400;
  line-height: 24px;
  margin: 23px 0 0;

}

.about-me__container{
  display: flex;
  margin: 73px 30px 0 55px;
}

.about-me__content{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 50px;
}

.about-me__link{
  color: #ef5b4c;
  font-size: 17px;
  line-height: 17px;
  text-decoration: none;
  margin-top: 30px;
    &:hover{
    color: #d24335;
    }
}

@media (min-width: 320px) and (max-width: 551px){

    .about-me{
      height: auto;
    }

    .section{
      padding-top: 67px;
      padding-bottom: 67px;
    }

  .about-me__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .about-me__heading{
    font-size: 30px;
  }

  .about-me__image img{
    max-width: 289px;
    margin-top: 26px;
  }

  .about-me__content{
    margin: 0 15px;
  }

  .about-me__subheading{
    text-align: center;
    margin: 33px 0 0 3px;
  }

.about-me__text{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

  .about-me__link{
    text-align: center;
    font-size: 16px;
  }
}


@media  (min-width: 551px) and (max-width: 768px){

  .about-me{
    height: inherit;
  }

  .about-me__container{
    margin: 69px 30px 0;
  }

  .section{
    padding: 110px 0;
  }
  .about-me__heading{
    font-size: 40px;
    letter-spacing: -0.4px;
  }

  .about-me__image img{
    max-width: 289px;
    max-height: 207px;
  }

  .about-me__content{
    margin: -1px 0 0 32px;
  }
}

@media  (min-width: 769px) and (max-width: 853px) {
  .about-me__container{
    margin: 50px 15px 0;
  }

  .about-me__image img{
    max-width: 300px;
  }

  .about-me__heading{
    font-size: 40px;
  }
}