@import "scss/variables/vars.scss";
@import "scss/elements/button.scss";


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.section{
  padding: 160px 0;
}