.block-title{
  display: flex;
  flex-direction: column;
}

.block-title__heading{
  text-align: center;
  color: #212529;
  font-size: 50px;
}

.block-title__subheading{
  text-align: center;
  color: #4c4b4b;
  line-height: 22px;
  margin-top: 10px;
}

@media screen and (max-width: 360px) {
  .block-title__heading {
    font-size: 30px;
  }

  .sign-up .block-title__subheading{
    margin: 17px 30px 0;
  }
}