$test : yellow;
.about-me{
  min-height: 100vh;
}

.section{
  padding-top: 153px;
  padding-bottom: 160px;
}

.about-me__heading{
  text-align: center;
  margin: 0;
  color: #212529;
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
}

.about-me-container__image img{
  max-width: 339px;
}

.about-me__subheading{
  color: #212529;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.about-me__text{
  color: #4c4b4b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 23px 0 0;

}

.about-me__container{
  display: flex;
  margin: 73px 30px 0 55px;
}

.about-me__content{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 50px;
}

.about-me-content-text__link{
  color: #ef5b4c;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  margin-top: 30px;
}

@media screen and (max-width: 360px){
    .section{
      padding-top: 67px;
      padding-bottom: 67px;
    }

  .about-me__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .about-me__heading{
    font-size: 30px;
  }

  .about-me-container__image img{
    max-width: 289px;
    margin-top: 26px;
  }

  .about-me__content{
    margin: 0 15px;
  }

  .about-me__subheading{
    margin: 33px 0 0 3px;
  }

.about-me__text{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

  .about-me-content-text__link{
    text-align: center;
    font-size: 16px;
  }
}

